PORT=5000
MONGO_URI=mongodb://mongo:27017/payment_db
STRIPE_SECRET_KEY=your_stripe_secret
STRIPE_PUBLIC_KEY=your_stripe_public
SUCCESS_URL=http://frontend-service/payment-success
CANCEL_URL=http://frontend-service/payment-failed
